<div id="content">
  <div id="mainNav">
      <div id="logo">
          <img src="../assets/img/logotype3.svg" alt="logo">
      </div>
      <p>
        Jest to nieduża, jasno zabarwiona małpa. Jej twarz jest charakterystyczna. Sierść dookoła oczu ma sinoniebieski odcień. Nos i uszy są ceglastoczerwone. Sierść na policzkach ma żółte zabarwienie i jest dość długa.
      </p>
  </div>
  <div id="logPage">
      <div id="logBox">
          <h3>{{displayError(errorForm.global)}}</h3>
          <p>{{displayError(errorForm.username)}}</p>
          <input [(ngModel)]="loginForm.username" placeholder="login" onfocus="this.placeholder=''" onblur="this.placeholder='login'"> <br>
          <p>{{displayError(errorForm.password)}}</p>
          <input [(ngModel)]="loginForm.password" type="password" placeholder="hasło" onfocus="this.placeholder=''" onblur="this.placeholder='hasło'"> <br>
          <button (click)="login()">zaloguj się</button>
      </div>
    </div>
</div>