#mainNav {
    height: 40vh;
    background-color: #0A0B0D;
    width: 100%;
    p {
        font-size: 1.1rem;
        font-weight: 700;
        text-align: center;
        padding: 30px;
        text-indent: 15px;
        color: #818DA6;
    }
}
main {
    background-color: #0A0B0D;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    #logBox {
        -webkit-box-shadow: 3px 3px 30px 5px rgba(58,58,68,1);
        -moz-box-shadow: 3px 3px 30px 5px rgba(58,58,68,1);
	    box-shadow: 3px 3px 30px 5px rgba(58,58,68,1);
        text-align: center;
        padding: 20px 30px;
        border-radius: 20px;
        width: 300px;
        input {
            width: 100%;
            background-color: #efefef;
            color: #666;
            border: 2px solid #ddd;
            border-radius: 5px;
            font-size: 1.3rem;
            padding: 3%;
            outline: none;
            margin-top: 5%;
        }
        button {
            width: 100%;
            background-color: #818DA6;
            font-size: 1.3rem;
            color: #000;
            padding: 4% 3%;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 2px;
            outline: none;
            margin-top: 10%;
        }
    }
}