<main>
    <div id="timeTable">
        <div (click)="showMonday()" id="day1" class="day">
            <h6><i class="icon-calendar"></i>Pn<i class="icon-down-open"></i></h6>
        </div>
        <div *ngIf="isMonday" id="monTable" class="table">
            <div id="hours" class="tableEl">
                <h6>7:30-8:15</h6>
                <h6>8:25-9:10</h6>
                <h6>9:20-10:05</h6>
                <h6>10:15-11:00</h6>
                <h6>11:15-12:00</h6>
                <h6>12:10-12:55</h6>
                <h6>13:05-13:50</h6>
            </div>
            <div id="subjects" class="tableEl">
                <h6>Geografia</h6>
                <h6>Fizyka</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>ZWO</h6>
            </div>
            <div id="rooms" class="tableEl">
                <h6>107</h6>
                <h6>107</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>107</h6>
            </div>
        </div>
        <div (click)="showTuesday()" id="day2" class="day">
            <h6><i class="icon-calendar"></i>Wt<i class="icon-down-open"></i></h6>
        </div>
        <div *ngIf="isTuesday" id="tueTable" class="table">
            <div id="hours" class="tableEl">
                <h6>7:30-8:15</h6>
                <h6>8:25-9:10</h6>
                <h6>9:20-10:05</h6>
                <h6>10:15-11:00</h6>
                <h6>11:15-12:00</h6>
                <h6>12:10-12:55</h6>
                <h6>13:05-13:50</h6>
            </div>
            <div id="subjects" class="tableEl">
                <h6>Geografia</h6>
                <h6>Fizyka</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>ZWO</h6>
            </div>
            <div id="rooms" class="tableEl">
                <h6>107</h6>
                <h6>107</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>107</h6>
            </div>
        </div>
        <div (click)="showWednesday()" id="day3" class="day">
            <h6><i class="icon-calendar"></i>Śr<i class="icon-down-open"></i></h6>
        </div>
        <div *ngIf="isWednesday" id="wedTable" class="table">
            <div id="hours" class="tableEl">
                <h6>7:30-8:15</h6>
                <h6>8:25-9:10</h6>
                <h6>9:20-10:05</h6>
                <h6>10:15-11:00</h6>
                <h6>11:15-12:00</h6>
                <h6>12:10-12:55</h6>
                <h6>13:05-13:50</h6>
            </div>
            <div id="subjects" class="tableEl">
                <h6>Geografia</h6>
                <h6>Fizyka</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>ZWO</h6>
            </div>
            <div id="rooms" class="tableEl">
                <h6>107</h6>
                <h6>107</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>107</h6>
            </div>
        </div>
        <div (click)="showThursday()" id="day4" class="day">
            <h6><i class="icon-calendar"></i>Cz<i class="icon-down-open"></i></h6>
        </div>
        <div *ngIf="isThursday" id="thuTable" class="table">
            <div id="hours" class="tableEl">
                <h6>7:30-8:15</h6>
                <h6>8:25-9:10</h6>
                <h6>9:20-10:05</h6>
                <h6>10:15-11:00</h6>
                <h6>11:15-12:00</h6>
                <h6>12:10-12:55</h6>
                <h6>13:05-13:50</h6>
            </div>
            <div id="subjects" class="tableEl">
                <h6>Geografia</h6>
                <h6>Fizyka</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>ZWO</h6>
            </div>
            <div id="rooms" class="tableEl">
                <h6>107</h6>
                <h6>107</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>107</h6>
            </div>
        </div>
        <div (click)="showFriday()" id="day5" class="day">
            <h6><i class="icon-calendar"></i>Pt<i class="icon-down-open"></i></h6>
        </div>
        <div *ngIf="isFriday" id="friTable" class="table">
            <div id="hours" class="tableEl">
                <h6>7:30-8:15</h6>
                <h6>8:25-9:10</h6>
                <h6>9:20-10:05</h6>
                <h6>10:15-11:00</h6>
                <h6>11:15-12:00</h6>
                <h6>12:10-12:55</h6>
                <h6>13:05-13:50</h6>
            </div>
            <div id="subjects" class="tableEl">
                <h6>Geografia</h6>
                <h6>Fizyka</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>UTK</h6>
                <h6>ZWO</h6>
            </div>
            <div id="rooms" class="tableEl">
                <h6>107</h6>
                <h6>107</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>512</h6>
                <h6>107</h6>
            </div>
        </div>
    </div>
</main>