<div id="content">
  <div id="side">
    <a routerLink="/" routerLinkActive="active"><div id="logo">
        <img src="../../assets/img/logotype2.svg" alt="">
    </div></a>
    <div id="menu">
        <a routerLink="/events" routerLinkActive="active">
            <div id="events">
                <i class="icon-th-list"></i>Wydarzenia
            </div>
        </a>
        <a routerLink="/lessons" routerLinkActive="active">
            <div id="lessons">
                <i class="icon-table"></i>Rozkład zajęć
            </div>
        </a>
        <a routerLink="/files" routerLinkActive="active">
            <div id="files">
                <i class="icon-folder-open"></i>Pliki
            </div>
        </a>
    </div>
    <div id="widgets">
        <div id="box1">
            <div class="elem">
                <i class="icon-calendar"></i>
                <p>13 czerwca 2019</p>
            </div>
        </div>
        <div id="box2">
            <a routerLink="/infos" routerLinkActive="active"><div class="elem">
                <i class="icon-attention"></i>
                <p>Ważne informacje</p>
            </div></a>
        </div>
        <div id="box3">
            <div class="elem">
                <h1>30</h1>
                <p>Szczęśliwy <br> numerek</p>
            </div>
        </div>
        <div id="box4">
            <a routerLink="/others" routerLinkActive="active"><div class="elem">
                <i class="icon-newspaper"></i>
                <p>Inne</p>
            </div></a>
        </div>
    </div>
    <div id="account">
        <div id="userOption">
            <i class="icon-off"></i>
            <i class="icon-key"></i>
            <i class="icon-info"></i>
        </div>
    </div>
  </div>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>