#schDays {
    .day {
        width: 300px;
        min-height: 50px;
        background-color: #818DA6;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        h6 {
            font-size: 1rem;
            color: #bbb;
            border-bottom: 1px dotted #bbb;
            margin-bottom: 5px;
        }
        div {
            padding: 5px 8px;
            margin: 8px;
            border-radius: 10px;
            font-size: 1rem;
            letter-spacing: 1px;
            background-color: crimson;
            color: #eee;
        }
        .null {
            padding: 5px 8px;
            margin: 8px;
            font-size: 1rem;
            letter-spacing: 1px;
            color: #eee;
        }
    }
}