<!-- <p>{{user.firstName}}</p>
<p>{{user.lastName}}</p>
<p>{{user.username}}</p>
<p>{{user.email}}</p>
<p>{{user.token}}</p>
<div *ngFor="let group of user.groups">
  <p>{{group}}</p>
</div> -->
<div id="content">
    <div id="side">
        <div id="logo">
            <img src="img/logotype2.svg" alt="">
        </div>
        <div id="menu">
            <div id="events">
                <i class="icon-th-list"></i>Wydarzenia
            </div>
            <div id="lessons">
                <i class="icon-table"></i>Rozkład zajęć
            </div>
            <div id="files">
                <i class="icon-folder-open"></i>Pliki
            </div>
        </div>
        <div id="widgets">
            <div id="box1">
                <div class="elem">
                    <i class="icon-calendar"></i>
                    <p>13 czerwca 2019</p>
                </div>
            </div>
            <div id="box2">
                <div class="elem">
                    <i class="icon-attention"></i>
                    <p>Ważne informacje</p>
                </div>
            </div>
            <div id="box3">
                <div class="elem">
                    <h1>30</h1>
                    <p>Szczęśliwy <br> numerek</p>
                </div>
            </div>
            <div id="box4">
                <div class="elem">
                    <i class="icon-newspaper"></i>
                    <p>Inne</p>
                </div>
            </div>
        </div>
        <div id="account">
            <div id="userOption">
                <i class="icon-off"></i>
                <i class="icon-key"></i>
                <i class="icon-info"></i>
            </div>
        </div> 
    </div>
    <main>
        <div id="schDays">
            <div id="day1">
                <p>poniedziałek</p>
            </div>
            <div id="day2">
                <p>wtorek</p>
            </div>
            <div id="day3">
                <p>środa</p>
            </div>
            <div id="day4">
                <p>czwartek</p>
            </div>
            <div id="day5">
                <p>piątek</p>
            </div>
        </div>
    </main>
</div>