<!-- <p>{{user.firstName}}</p>
<p>{{user.lastName}}</p>
<p>{{user.username}}</p>
<p>{{user.email}}</p>
<p>{{user.token}}</p>
<div *ngFor="let group of user.groups">
  <p>{{group}}</p>
</div>-->
<main>
    <div id="schDays">
        <div id="day1" class="day">
            <h6><i class="icon-calendar"></i>Poniedziałek</h6>
            <div class="subjects" *ngFor="let subjects of monSubjects">
                {{ subjects.subject }}
            </div>
        </div>
        <div id="day2" class="day">
            <h6><i class="icon-calendar"></i>Wtorek</h6>
            <!--<div class="subjects" *ngFor="let subjects of tueSubjects">
                {{ subjects.subject }}
            </div>-->
            <span class="null">Brak</span>
        </div>
        <div id="day3" class="day">
            <h6><i class="icon-calendar"></i>Środa</h6>
            <span class="null">Brak</span>
        </div>
        <div id="day4" class="day">
            <h6><i class="icon-calendar"></i>Czwartek</h6>
            <span class="null">Brak</span>
        </div>
        <div id="day5" class="day">
            <h6><i class="icon-calendar"></i>Piątek</h6>
            <span class="null">Brak</span>
        </div>
    </div>
</main>
<div style="clear:both"></div>