#schDays .day {
  width: 300px;
  min-height: 50px;
  background-color: #818DA6;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

#schDays .day h6 {
  font-size: 1rem;
  color: #bbb;
  border-bottom: 1px dotted #bbb;
  margin-bottom: 5px;
}

#schDays .day div {
  padding: 1% 1.5%;
  margin: 1%;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #eee;
  background-color: crimson;
}

#schDays .day .null {
  padding: 5px 8px;
  margin: 8px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #eee;
}

@media (min-width: 768px) {
  #schDays {
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-color: #ccc #222F40;
    scrollbar-width: thin;
  }
  #schDays .day {
    width: 600px;
  }
  #schDays .subjects {
    width: 48%;
    display: inline-block;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}
