#schDays {
  width: 100%;
  margin: 5vh 0 5vh 25%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 3%;
  grid-template-areas: "day1" "day2" "day3" "day4" "day5";
}

#schDays p {
  font-size: 4rem;
  opacity: .5;
  position: absolute;
  bottom: 0;
  left: 0;
}

#schDays #day1 {
  grid-area: day1;
  background-color: #888;
  border-right: 1rem solid #ffcc00;
  opacity: .8;
  width: 100%;
  position: relative;
}

#schDays #day2 {
  grid-area: day2;
  background-color: #888;
  border-right: 1rem solid #ffcc00;
  opacity: .8;
  position: relative;
}

#schDays #day3 {
  grid-area: day3;
  background-color: #888;
  border-right: 1rem solid #ffcc00;
  opacity: .8;
  position: relative;
}

#schDays #day4 {
  grid-area: day4;
  background-color: #888;
  border-right: 1rem solid #ffcc00;
  opacity: .8;
  position: relative;
}

#schDays #day5 {
  grid-area: day5;
  background-color: #888;
  border-right: 1rem solid #ffcc00;
  opacity: .8;
  position: relative;
}
